# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular open-source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit learn

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter Lab</td>
</tr>
    
<tr>
<td>Jupyter Notebook</td>
</tr>
    
<tr>
<td>Spyder</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(hours)

3.3333333333333335

## Author
Guillaume